body {
  margin: 0;
  padding: 0;
  background: rgb(192, 192, 192);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.listheading {
  padding-top: 5px;
  padding-left: 10px;
  height: 60px;
  background: #3f51b5;
  color: #fff;
  margin-bottom: 50px;
}
